body {
  margin: 0 0;
}

.logo {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

.main-nav {
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid black;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-div {
  display: flex;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
  padding: 0;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav li a {
  color: black;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

aside {
  width: 15%;
  background-color: #720c8f;
  color: white;
  padding: 20px;
}

aside ul {
  list-style: none;
}

aside a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: bold;
}

.gif-container {
  display: flex;
  justify-content: center;
  gap: 2px;
  border: 1px solid black;
  background: green;
}

.gif-1 {
  width: 100%;
  height: auto;
}

.gif-2 {
  width: 100%;
  height: auto;
}

.gif-3 {
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: white;
  position: relative;
}

footer {
  width: 99.75%;
  background-color: grey;
  color: white;
  text-align: center;
  padding: 2px;
  position: relative;
}
